body {
    font-family: Arial;
    background: #f4f6f8;
    padding: 40px;
}

h2 {
    text-align: center;
}

form {
    max-width: 300px;
    margin: auto;
}

input, select, textarea, button {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
}
